.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
}

.buttons {
	display: flex;
	gap: 20px;
}

.buttons a {
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 20px;
	transition: background-color 0.2s ease;
}

.buttons a:hover {
	background-color: #4b4b4b;
	color: white;
}

@media (width < 768px) {
	.buttons {
		flex-direction: column;
		width: 50%;
	}
}
