.services {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.services__h2 {
	text-align: center;
}

.grid__services {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
	text-align: center;
}

.services__card {
	background-color: #1b1b1b;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
	padding: 1.5rem;
	text-align: start;
}

.services__card h3 {
	text-align: center;
}

.services__card:hover {
	box-shadow: rgba(56, 56, 56, 0.35) 0 0 15px;
	transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
	.grid__services {
		grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
	}
}
