---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<p>
		Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet molestiae,
		soluta labore eligendi vitae aliquid perferendis harum veritatis est? Hic.
	</p>
</Layout>
