---
import "../styles/global.css";
import Header from "../components/landing/Header.astro";
import Footer from "../components/landing/Footer.astro";
---

<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Mateo Betancur</title>
		<meta
			name="description"
			content="Sitio web personal de Mateo Betancur, desarrollador web especializado en crear aplicaciones web modernas y responsivas"
		/>
		<meta property="og:image" content="/images/me.webp" />
	</head>
	<body class="m-0 w-full h-full">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
